*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('../img/background.jpg');
    color: #FFF;
    background-attachment: fixed;
}

.card-body{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pizza{
    cursor: pointer;
    
}
.list:last-child{
    margin-bottom: 5rem;
}
.priceList{    
    position: absolute;    
    bottom: 0;
    right: 0;
    background-color: #e74c3c;
    text-align: center;
    color: #FFF;
    padding: 5px;
}
.box-shadow:hover{
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);    
    
}
.pizza img{
    width: 100%;
    overflow: hidden;  
    transition: all .5s ease; 
    min-height: 250px; 
}
.pizza img:hover{
    transform: scale(1.2);
}

.imgSize{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.card-body{
    background-color: white;
    color: #000;
}

.boxPizzaSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxPizzaSingle img{
    padding: 2rem;
    width: 100%;
}
.boxPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

a:link{ 
    text-decoration:none;     
} 

.priceSingle{
    display: flex;
    flex-direction: column;
}
.priceSingle span{
    padding: .2rem;
}

.custom-select{
    margin-bottom: .7rem;
}
.lblCheck{
    margin-left: 1rem;
}
.lblCheck + input{
    margin-left: .5rem;
    width: 20px;
    height: 20px;
}